<p>card works!</p>

<div class="body">
    <div #container class="container" (mousemove)='onMouseMove($event)' (mouseenter)='mouseenter()'
        (mouseleave)='mouseleave()'>
        <div #card class="card">
            <div class="PopoImg">
                <div #circle class="circle"></div>
                <img #PopoImg src={{image}} alt="apple">
            </div>
            <div class="info">
                <div>
                    <h1 #title class="title">{{name}}  {{num}} </h1>
                    <h3 #info>{{message}}</h3>

                    <div #sizes class="sizes">
                        <button class="button" [ngClass]="{'active': selectedItem === 1}"
                            (click)='selectedItem = 1;'>{{button1 | date}}</button>
                        <!-- <button class="button">Jonagold</button> -->
                        <button class="button" [ngClass]="{'active': selectedItem === 2}"
                            (click)='selectedItem = 2;'>price Now ${{price}}</button>
                        <button class="button" [ngClass]="{'active': selectedItem === 3}"
                            (click)='selectedItem = 3;'>{{button3}}</button>
                    </div>
                    <div class="purchase">
                        <button  (click)=pageId(button2) #purchase>SELECT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>