<p>gallery works!</p>

<div class="row" style="justify-content: space-between;">
   

    <h1 (click)="indexbeaend()">↩ next Apples </h1>
    <h1> <select [(ngModel)]="numOfPage" class="form-control" (change)="selectNum(numOfPage)">
        <option *ngFor="let num of numberOfPage" [ngValue]="num">Itmes Of Page {{num}}</option>
    </select></h1>
    <h1 (click)="indexItem()"> next Apples ↪</h1>
</div>
<hr><h1 id="Itmes">Gallery Itmes</h1><hr>
<div class="gallery">
    <div class="gallery__img" *ngFor="let i of items;">
        <div >
            <p>Shot by Chris </p>
            <app-card [product]=i></app-card>
        </div>
    </div>
</div>
<hr><h1 id="Apples">Gallery Apples</h1><hr>
<div class="gallery">
   <div class="gallery__img" *ngFor="let i of items;">
        <div >
            <p>Shot by Chris </p>
            <app-card [num]=i></app-card>
        </div>
    </div>


</div>