.card {
  background:rgb(216, 203, 203);
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 30rem;
  border-radius: 50px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
 
  }
  .brod{
border:black solid 5px;
box-shadow: 0 4px 8px 0 grey(0, 0, 0, 0.2);
width: 50%;
  }

  .img {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .price {
    color: black;
    font-size: 22px;
    text-align: center;
    border:gainsboro solid 2px;
    background :rgb(161, 221, 161);

  }
  .rowitme0{
    background: #FFD700;
    color: #000;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .row{
    margin: auto;
  }
  .timer{
    color:red;
  }
  sub{
    color:red;
  }

  .h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
  }