<p>page-products works!</p>



<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="pageProducts">
        <!-- <app-card [product] =pageProducts ></app-card> -->
        <!-- </div>  -->
        <div class="card ">
          <h2 class="timer">TIME END : <p>{{thisNow }}</p></h2>

          <img class="img" src={{pageProducts.image}} alt="" width="100%" height="auto" />
          <h1>{{pageProducts.nameProduct}} </h1>
          <p  class="price">$ {{pageProducts.price}} </p>

          <p>{{pageProducts.message}}</p>
          <p><button>Buy It Now </button></p>
          <a routerLink="/home" routerLinkActive="active"> ...חזור</a>

        </div>
      </div>
      <div *ngIf="!pageProducts" class="card ">
        <h1>....אין לך מוצרים</h1>
        <p><button routerLink="/home"> Now</button></p>
      </div>
    </div>

    <div class="col-4">
      <div class="navbar navbar-expand-lg ">

        <div class="navbar-nav section-nav">
          <button [disabled]="pageProducts.isActive" type="button" class="badge badge-pill badge-success"
            (click)="addAuction5(pageProducts.id)">Add Auction
            $5
          </button><br><br>
          <button  type="button" class="badge badge-pill badge-primary"
            (click)="addAuction10(pageProducts.id)">Add Auction
            $10 </button><br><br>
          <button type="button" class="badge badge-pill badge-warning" (click)="addAuction25(pageProducts.id)">Add
            Auction
            $25 </button><br><br>
          <button type="button" class="badge badge-pill badge-danger" (click)="addAuction100(pageProducts.id)">Add
            Auction
            $100 </button><br>
        </div>
      </div>
      <div >
        <hr>
        <h2>Scoreboard ↑ {{this.pageProducts.timeEnd | date}}</h2>
        <hr>
        <table class="table table-dark ">
          <thead class="brod">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Auction</th>
              <th scope="col">price</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody *ngFor="let auction of auctionPruduct ;index as i ">
            <tr class="rowitme{{i}}">
              <th scope="row">{{i}}</th>
              <td *ngIf="auction.username"> user name : <span>{{auction.username}}</span></td>
              <td *ngIf="!auction.username"> user id : <span>{{auction.userId}}</span></td>
              <td>${{auction.price}} </td>
              <td> <sub>{{auction.time}}</sub></td>
            </tr>
          </tbody>
          <!-- <tbody *ngFor="let auction of pageProducts.auction;index as i ">
            <tr class="rowitme{{i}}">
              <th scope="row">{{i}}</th>
              <td *ngIf="auction.username"> user name : <span>{{auction.username}}</span></td>
              <td *ngIf="!auction.username"> user id : <span>{{auction.userId}}</span></td>
              <td>${{auction.price}} </td>
              <td> <sub>{{auction.time}}</sub></td>
            </tr>
          </tbody> -->
        </table>
      </div>
    </div>
  </div>
</div>

<div class="box" *ngIf='pageProducts.isActive == false'>
  <h1 style="color:red">this product is not active</h1>
  <p>{{this.pageProducts.timeEnd | date}}</p>
</div>