<p>page-products works!</p>


<!-- <div>
    {{pageProducts | json}}
</div> -->

<div *ngIf="pageProducts" class="card">
    <img src={{pageProducts.image}} alt="" width="100%" height="auto" />
    <h1>{{pageProducts.nameProduct}}</h1>
    <p class="price">$ {{pageProducts.price}}</p>
    <p>{{pageProducts.message}}</p>
    <p><button>Buy It Now</button></p>
    <a routerLink="/home" routerLinkActive="active"> ...חזור</a>
  </div>

  <div *ngIf="!pageProducts" class="card">
    <h1>....אין לך מוצרים</h1>
    <p><button routerLink="/home"> Now</button></p>
  </div>

