<p>card-product works!</p>
<div class="body">

  
    <div class="text-center box">
            <a href="/interfaceManager/#products" routerLinkActive="active" >❌</a>

            <div class="panel-heading">
                    <h4 class="text-center"> <span class="fa fa-edit pull-right bigicon"></span></h4>
                </div>
        <form class="form-card" [formGroup]="cardfrom">
            <h1 class="h3 mb-3 font-weight-normal">NEW PRODUCT</h1>

            <label for="inputName" class=""> Name </label>
            <input type="text" id="inputName" class="form-control" formControlName="nameProduct" placeholder="Name">

            <br>
            <label for="inputName" class="">category </label>
            <input type="text" id="inputName" class="form-control" formControlName="category" placeholder="category">
            <br>
            <label for="inputName" class="">message </label>
            <textarea type="text" id="description" class="form-control" formControlName="message" placeholder="message">
           </textarea>
            <br>
            <label for="inputName" class="">price </label>
            <input type="price" id="inputName" class="form-control" formControlName="price" placeholder="price">
            <br>
            <label for="inputName" class="">time </label>
            <input type="datetime-local"  id="inputName" class="form-control" formControlName="timeEnd" placeholder="time">
            <br>
            <label for="inputName" class="">image </label>
            <input type="" id="inputName" class="form-control" formControlName="image" placeholder="image">
            <br>


            <button class="btn btn-lg btn-primary btn-block" (click)='onSubmit()' [disabled]="!cardfrom.valid">ADD
                PRODUCT</button>
        </form>
    </div>
</div>