<p>home works!</p>
<!-- <div *ngFor="let item of products">
{{item |json}}</div> -->
<!-- <app-category></app-category> -->
<!-- <div class="container"> -->
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of myProducts ">
        <div class=" container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="picsum-img-wrapper">
                        <img src={{item.image}} alt="Random first slide" height="300px" width="300px">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >

                    <div class="carousel-caption">
                        <p>{{myVar}}</p>

                        <h3>{{item.nameProduct}}</h3>
                        <p>{{item.message}}</p>
                        <h3  class=" badge-pill badge-success">New price  ${{item.price}}</h3>

                        <label>Double quick offer :</label><button  class="by now badge badge-pill badge-danger"
                            (click)=addAuction(item)>ADD $10
                            </button>
                            <p *ngIf="item.timeEnd">  {{item.timeEnd | date}}</p>
                            <p *ngIf="!item.timeEnd"> <sub> 12:00 PM</sub> המכירה הפומבית עומדת להתקיים ב -22 באוקטובר 2020</p>
                        <button class="by now btn btn-info" (click)=pageId(item)>by now</button>
                        <button class="by now btn btn-warning" (click)=pageId(item)>New offer</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>

<!-- </div> -->

<!-- <div *ngFor="let item of products">
    <app-card [product]="item"></app-card>
</div> -->
<div class="cardgallery">
    <app-gallery [products]="myProducts"></app-gallery>
</div>