.row{
    padding:50px 150px 100px 150px ;

}
/* .container :hover{
    opacity: 1.8;}

 .container{
    opacity: 0.8;

    } */

    .cardgallery{
        margin: 0;
        padding: 0;
        background:rgb(245, 234, 234)
    }