<p>home works!</p>
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="col">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="picsum-img-wrapper">
                    <img src="assets/images/logo3.gif" alt="Random first slide">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="carousel-caption">
                    <h3>chaim bar-or auction</h3>

                    <p>המכירה הפומבית עומדת להתקיים ב -30 בנובמבר 2020</p>
                    <button class="by now btn btn-info">by now</button>
                    <button class="by now btn btn-warning">New offer</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="picsum-img-wrapper">
                    <img src="assets/images/logo3.gif" alt="Random first slide">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="carousel-caption">
                    <h3>chaim bar-or auction</h3>
                    <p>המכירה הפומבית עומדת להתקיים ב -25 בנובמבר 2020
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="picsum-img-wrapper">
                    <img src="assets/images/wine-auction-inside.png" alt="Random first slide">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="carousel-caption">
                    <h3>chaim bar-or auction</h3>
                    <p>המכירה הפומבית עומדת להתקיים ב -26 בנובמבר 2020
                    </p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper">
                <div class="picsum-img-wrapper">
                    <img src="assets/images/logo6.gif" alt="IUH">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="carousel-caption">
                    <h3>AvraTech 07</h3>
                    <p>Linh - Huu - Dat</p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template ngbSlide>
        <div class="row">
            <div class="picsum-img-wrapper">
                <div class="picsum-img-wrapper">
                    <img src="assets/images/logo3.gif" alt="Random first slide">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="carousel-caption">
                    <h3>chaim bar-or auction</h3>
                    <p>אתר המכירות הפומביות מהיר, מדויק ונוח</p>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>