<p>edit-product works!</p>
<ng-container *ngIf="(product$ | async) as prudct; else loadingUser">

    <div class="row body">

        <div class="card box">

            <form class="card-from" #f="ngForm" (ngSubmit)="onSubmit(f,prudct.id)">
                <h1 class="h3 mb-3 font-weight-normal">Edit product </h1>
                <img src="{{prudct.image}}" alt="" srcset="" width="200px" height="200px">
             
                <div ngModelGroup="name" #nameCtrl="ngModelGroup">
                    <br> <label for="inputName" class=""> category </label>
                    <input name="category" class="form-control" [ngModel]="prudct.category" minlength="2"
                        placeholder="category" ngModel>

                    <br> <label for="inputName" class=""> nameProduct </label>
                    <input name="nameProduct" class="form-control" [ngModel]="prudct.nameProduct" minlength="2"
                        placeholder="nameProduct" ngModel>


                    <br> <label for="inputName" class=""> message </label>
                    <input name="message" class="form-control" [ngModel]="prudct.message" placeholder="message" ngModel>

                    <br> <label for="inputName" class=""> image</label>
                    <input name="image" class="form-control" [ngModel]="prudct.image" placeholder="image" ngModel>

                    <input #image  type="file" (change)="onUpload(image)" 
                    placeholder="image" ngModel>

                    <br> <label for="inputName" class=""> price </label>
                    <input type="number" name="price" class="form-control" [ngModel]="prudct.price" placeholder="price"
                        ngModel>

                    <br> <label for="inputName" class=""> tineEnd</label>
                    <input name="timeEnd" type="datetime-local" class="form-control" [ngModel]="prudct.timeEnd | date" placeholder="timeEnd" ngModel>

                    <br> <label for="inputName" class=""> isActive</label>
                    <input type="checkbox" name="isActive" class="form-control" [ngModel]="prudct.isActive"
                        placeholder="isActive" ngModel>


                </div>
               

                <button class="btn btn-lg btn-primary btn-block">edit </button>
            </form>


        </div>
    </div>

</ng-container>

<ng-template #loadingUser>
    <app-spinner></app-spinner>
</ng-template>