.section-nav{
  
    color: #FFD700;
}

li{
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;

}

.section-nav :hover{
    /* opacity: 0.5; */
    color: aqua;
}

.row{
    margin: 0;
    padding: 0;
}
.categorys{
    background:gray;
    position:absolute;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: aqua;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: rgb(69, 224, 92);
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }