.section-nav{
  
    color: #FFD700;
}
li{
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;

}

.section-nav :hover{
    /* opacity: 0.5; */
    color: aqua;
}

.row{
    margin: 0;
    padding: 0;
}
.categorys{
    background:gray;
    position:absolute;
}