<p>category works!</p>

<!-- <div class="row"> -->



<div class="categorys">
    <ul class="section-nav">
        <h5>category</h5>
        <!-- <li class="toc-entry toc-h2" *ngFor="let pro of categoryProduct[0]">{{pro.message}}</li>  -->
        <li (click)="selectcategory('category1')"> Category A</li>
        <li (click)="selectcategory('category2')"> category B</li>
        <li (click)="selectcategory('category1')"> Category C</li>
        <li (click)="selectcategory('category2')"> category D</li>
        <li (click)="selectcategory('category1')"> Category E</li>
        <li (click)="selectcategory('category2')"> category F</li>
        <li (click)="selectcategory('api')"> API</li>

    </ul>
</div>
<div class="home">
    <app-home [products]="myProducts"></app-home>
</div>


<!-- </div> -->