.style{
    width: 100%;
     padding: 2px;
      background: rgb(192, 198, 209);
       width: auto; height: 5rem;
       padding: 15px;

}
.card-body{
    background: rgb(155, 182, 212);
}
.box{
	position:absolute;
	left:50%;
	top:30%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
	border-radius:3px;
    padding:70px 100px;
}

.Youlost{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
	border-radius:3px;
}
.body{
    min-height:50vh;

}
input{
    border-radius: 25px;
    border: 2px solid #FFD700;
}

.winner {
    padding: 10px;
    margin: 25px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
