<p>all-prudcts works!</p>
<div>
  {{prudcts | json}}
</div>
<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a (click)=addPrudct() class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">

        <thead class="table">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Image</th>
            <th class="text-center">Category</th>
            <th class="text-center">Name Product</th>
            <th class="text-center">Message</th>
            <th class="text-center">$ Price</th>
            <th class="text-center">Time End</th>
            <th class="text-center">Is Active</th>
            <th class="text-center">Sort</th>
            <th class="text-center">Remove</th>
            <th class="text-center">Edit</th>

          </tr>
        </thead>

        <tbody *ngFor="let prudct of products$ | async">
          <tr>
            <td class="pt-3-half" contenteditable="true">{{prudct.id}}</td>
            <td class="pt-3-half" contenteditable="true">
              <img src="{{prudct.image}}" alt="..." srcset="" width="50px" height="50px">
            </td>
            <td class="pt-3-half" contenteditable="true" >
              <input name="category" class="form-control"
              [(ngModel)]="prudct.category" minlength="2" placeholder="category" ngModel></td>
            <td class="pt-3-half" contenteditable="true">
               <input name="nameProduct" class="form-control"
                [(ngModel)]="prudct.nameProduct" minlength="2" placeholder="nameProduct" ngModel>
            </td>
            <td class="pt-3-half" contenteditable="true">
                <input name="category" class="form-control"
                [(ngModel)]="prudct.message" minlength="2" placeholder="message" ngModel>
            </td>

            <!-- <td class="pt-3-half" contenteditable="true">{{prudct.image}}</td> -->
            <td class="pt-3-half" contenteditable="true">
                <input name="category" class="form-control"
                [(ngModel)]= "prudct.price" minlength="2" placeholder="price" ngModel>
              </td>
            <td class="pt-3-half" contenteditable="true">
                <input name="category" class="form-control"
               type="datetime-local" [(ngModel)]='prudct.timeEnd'  placeholder="timeEnd" ngModel>{{prudct.timeEnd | date}}
            </td>
            <td  class="pt-3-half" contenteditable="true"><input type="checkbox" [(ngModel)] = "prudct.isActive"> &nbsp; {{prudct.isActive}} </td>

            <td class="pt-3-half">
              <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
            </td>
            <td>
              <span class="table-remove"><button type="button" (click)=remove(prudct.id)
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
            </td>
            <td>
              <span class="col">
                <button (click)=editproduct(prudct.id) class="btn btn-secondary btn-rounded btn-sm my-0"><span class="fa fa-edit pull-right bigicon"></span></button>
                &nbsp;
                <button (click)=save(prudct) class="btn btn-secondary btn-rounded btn-sm my-0">Save</button>
              </span>

            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='showcardproduct'>
  <app-card-product></app-card-product>
</div>
<!-- Editable table -->