<p>interface-manager works!</p>

<div class="container">

    <button class="btn btn-success" (click)="selectcategory('user')"> user</button>

    <button class="btn btn-success" (click)="selectcategory('products')"> new products</button>
    <button id="products" class="btn btn-success" (click)="selectcategory('allproducts')"> All products</button>

</div>


<div *ngIf='showcardproduct'>
    <app-card-product></app-card-product>
</div>

<div *ngIf='showAlldproduct'>
    <app-all-prudcts></app-all-prudcts>
</div>
<div *ngIf="showAllUser">
    <app-all-users></app-all-users>
</div>

<!-- <div *ngIf="user">
    <app-user [user]="user"></app-user>
</div> -->