<p>interface-manager works!</p>

<div class="categorys">
       
        <button (click)="selectcategory('user')"> user</button>
        <button (click)="selectcategory('products')"> new products</button>

</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">UUid</th>
            </tr>
        </thead>
        <tbody>

            <tr style="cursor: pointer"
             *ngFor="let user of users$| async ; index as i">
                <th>{{ i }}</th>
                <td>{{ user.username }}</td>
                <td  (click)="showDetails(user.id)">{{ user.email }}</td>
                <td>{{ user.id }}</td>
                <button type="button" class="btn btn-secondary btn-sm" (click)=delete(user.id)>delete</button>
            </tr>
        </tbody>
    </table>
</div>
    <div *ngIf='showcardproduct'>
       <app-card-product></app-card-product>
    </div>